GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
DEEPGRAM_API_KEY=your_deepgram_api_key_here
DEEPGRAM_MODEL=nova-3
DEEPGRAM_LANGUAGE=en-US
DEEPGRAM_ENDPOINTING_MS=300
DEEPGRAM_UTTERANCE_END_MS=1000
DEEPGRAM_KEEPALIVE_MS=4000
DEEPGRAM_FINALIZE_GRACE_MS=900
UNREAL_SPEECH_API_KEY=j6nLqg3BrEbkt4QU79rA5fR6AnaJHU5QuXF7A2MlnySTugNxFjaFqI
UNREAL_SPEECH_ENDPOINT=https://api.v8.unrealspeech.com/stream
UNREAL_SPEECH_VOICE_ID=Emily
UNREAL_SPEECH_BITRATE=192k
UNREAL_SPEECH_SPEED=0
UNREAL_SPEECH_PITCH=1
UNREAL_SPEECH_CODEC=libmp3lame
HUME_API_KEY=zHaaYIDHpNk5SLT2mljv8XGQY8oulooB0BwaLPAwtj0nNp28
TTS_MIN_SEGMENT_CHARS=8
TTS_MAX_SEGMENT_CHARS=220
EMOTION_API_URL=http://localhost:5001/emotion
PORT=8080
